@import url("fonts/Roboto-Regular.ttf");

:root {
  --kartya-szin: #363636;
  --sotet-turkiz: #253b41;
  --sarga: #fcc21b;
  --sarga-sotet: #e0a800;
  --feher: #fff;
  --rozsaszin: #e94967;
  --para-szin: #e2e2e2;
  --hatter-szurke: #222222;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  background-color: var(--hatter-szurke);
  margin: 0;
  padding: 0;
  min-width: 400px;
}

.kezdo-container {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.kezdo {
  width: 100%;
  height: 90%;
  color: var(--feher);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kezdo-kozep {
  margin: auto;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kezdo-kozep h1 {
  letter-spacing: 0.3em;
  font-weight: 500;
  font-size: 2.6em;
}

.kezdo-kozep p {
  font-size: 1.2em;
  letter-spacing: 0.08em;
  font-weight: lighter;
}

.kezdo-csik {
  height: 10%;
  background-color: var(--sarga);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hatter-szurke);
  text-decoration: none;
}

.kezdo-csik a {
  text-decoration: none;
}

#kezdo-csik-link a {
}

#kezdo-csik-link:hover {
  background-color: var(--sarga-sotet);
}

.szurke {
  background-color: var(--hatter-szurke);
  color: var(--feher);
}

.turkiz {
  background-color: var(--sotet-turkiz);
  color: var(--feher);
}
.page-feles {
  min-height: 75%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-content {
  width: 80%;
  max-width: 1200px;
  min-height: 80%;
  height: auto;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-footer {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sarga);
}

.szponzor {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.szponzor-kartya {
  width: 25%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #222222;
}

.szponzor-kartya img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  /*border-radius: 50%;*/
  text-align: center;
}

.osztott-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.osztott {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: justify;
}

#mediaszoveg {
  text-align: right;
  font-size: 1.4em;
}

#cim {
  width: 100%;
  text-align: left;
  color: var(--sarga);
  font-weight: 500;
  letter-spacing: 0.15em;
  font-size: 2.2em;
}
#email1 {
  color: var(--sarga);
}
#email2 {
  color: var(--rozsaszin);
}

#hidden {
  visibility: hidden;
}

.fa {
  font-size: 3em;
  color: var(--sarga);
}

.bal {
  text-align: left;
}
.jobb {
  text-align: right;
}

.hirek {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hirek-kartya {
  width: 30%;
  height: auto;
  min-height: 30em;
  background-color: var(--kartya-szin);
}

.hirek-kartya p {
  font-size: 0.9em;
  text-align: justify;
  margin: 1em;
  color: var(--para-szin);
}

#hirek-kep {
  width: 100%;
  height: 15em;
  object-fit: cover;
}

#tovabb{
  text-decoration: none;
}

@media (orientation: portrait) {
  .hirek{
    flex-direction: column;
    width: 100%;
  }
  .hirek-kartya {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: unset;
  }
  .osztott-container {
    flex-direction: column;
  }
  .osztott {
    width: 100%;
  }
  .szponzor {
    flex-direction: column;
  }
  .szponzor-kartya{
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
